<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <title>User Content!</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    </head>
    <body>       
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Security</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a th:href="@{/home}">Home</a></li>
                    <li class="nav-item"><a th:href="@{/admin}">Master</a></li>
                    <li class="nav-item"><a th:href="@{/mod}">Knight</a></li>
                    <li class="nav-item"><a th:href="@{/hello}">Any</a></li>                   
                </ul>          
                <form class="fform-inline my-2 my-lg-0" th:action="@{/logout}" method="post">                                
                    <button type="submit" class="btn btn-link my-2 my-sm-0">Sign Out</button>                            
                </form>            
            </div>               
        </nav>   
        <h1 th:text=" 'Hello '+ ${currentUser}"> </h1>                            
        <main class="container">                                
            <div class="bg-light p-5 rounded">
                <h1>USER Content</h1>
                <p class="lead">This content is only visible for any authenticated users.</p>
            </div>            
            <img th:if="${currentUser}=='anakin'" th:src="@{anakin.PNG}" alt="Anakin">
                <img th:if="${currentUser}=='obiwan'" th:src="@{obiwan.PNG}" alt="Obi Wan Kenobi">
                    <img th:if="${currentUser}=='quigon'" th:src="@{quigon.PNG}" alt="Qui-Gon Jinn">
                        </main>  
                        </body> 
                        </html>
